src/main/mule/world-demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2cf383df-f0c7-4391-9953-c5516870484d" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="7eb41d57-68fd-4132-8dfb-fff746065dca" basePath="api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-demo-apiFlow" doc:id="bc86fa84-1004-4573-b4ab-6bd6abbc600d" >
		<http:listener doc:name="Listener" doc:id="9a4ec685-b157-476a-9cee-d446547e726e" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<logger level="INFO" doc:name="Logger" doc:id="5b327077-6e6c-4252-96c3-46e30f3e722b" message='Request send to Http requester for transactionId:#[correlationId]'/>
		<http:request method="GET" doc:name="Request" doc:id="ebb12e47-ef91-457d-b93b-843500929799" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="22f7a693-2429-4caf-94d6-abb70017d5a3" message='Response sent back to Http listener  for transactionId:#[correlationId]'/>
	</flow>
</mule>
